@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.negrito {
    font-weight: bold;
}

body {
    background-color: rgb(77, 77, 77);
}

main {
    background-color: white;
    margin: auto;
    padding: 30px;
    min-width: 300px;
    max-width: 1000px;
}

p {
    text-indent: 30px;
    line-height: 1.5em;
}